entrypoint="index.html"
hidden=[".config"]
modules = ["web:v2-20230623-0b7a606", "nodejs-with-prybar-18", "python-base-3.13", "php-8.2", "nodejs-22"]

[nix]
channel = "stable-23_11"

[deployment]
publicDir = "/"
deploymentTarget = "static"
